/*
Quasi skateboards redesign
Store style
Author: Riley Hoff
*/
html{    
    background: url(img/bg3.jpg) no-repeat center right fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50px;
}
body{
    margin: 0;
    overflow-x: hidden; 
}
header{
    margin: 0;
    top: 0;
    position: fixed;
}
h1{
    font-size: 40pt;
    letter-spacing: 0;
    position: relative;
    z-index: -500;
    width: 100vw;
    text-align: center;
    transition: left 0s 0s ease-in-out;
    color:inherit;
    animation: warp1 1 .6s linear forwards;
    -webkit-animation: warp1 1 .6s linear forwards;
    -moz-animation: warp1 1 .6s linear forwards;
}
h1.low{
    left: 0vw;
    color: black;
    opacity: .7;
    animation: none;
}
h1.high{
    left: 0vw;
    color: #fae4e6;
    opacity: 1;
}
h1 a:hover {
    animation: glitch 1 20s linear forwards;
    -webkit-animation: glitch 1 20s linear forwards;
    -moz-animation: glitch 1 20s linear forwards;
}
nav{
    left: 0;
    bottom: 0;
    top: unset;
    z-index: 500;
}
nav ul{
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100vw;
}
nav ul li{
    height: 50px;
    margin: 0;
    width: 21%;
    line-height: 50px;
    background-color: rgba(0,0,0,.5);
    border: none;
    font-size: 10pt; 
    cursor: pointer;  
    transition: all .2s;
}
nav ul li:hover{
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
}
nav ul li.active{
    background: none;
    background-color: rgba(250,228,230,1);
    color: black;
    width: 37%;
}
main{
    margin-top: 100px;
    display: none;
    padding-left: 4vw;
    width: 98vw;
}
main img{
    max-width: 45vw;
    padding: .5vw;
    float: left;
    animation: imgLoad .6s  0s  1 forwards linear;
    -webkit-animation: imgLoad .6s  0s  1 forwards linear;  
    -moz-animation: imgLoad .6s  0s  1 forwards linear;
    z-index: -10;
}
/*animation*/
@keyframes imgLoad{
    0%{
        opacity: 0;
        filter: hue-rotate(120deg);
        -webkit-filter: hue-rotate(120deg);
        transform: skewX(2deg);
    }50%{
        filter: hue-rotate(240deg);
        -webkit-filter: hue-rotate(240deg);
        opacity: 1;
    }
    100%{
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
}
@-webkit-keyframes imgLoad{
    0%{
        opacity: 0;
        filter: hue-rotate(120deg);
        -webkit-filter: hue-rotate(120deg);
        transform: skewX(2deg);
    }50%{
        filter: hue-rotate(240deg);
        -webkit-filter: hue-rotate(240deg);
        opacity: 1;
    }
    100%{
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
}
@-moz-keyframes imgLoad{
    0%{
        opacity: 0;
        filter: hue-rotate(120deg);
        -webkit-filter: hue-rotate(120deg);
        transform: skewX(2deg);
    }50%{
        filter: hue-rotate(240deg);
        -webkit-filter: hue-rotate(240deg);
        opacity: 1;
    }
    100%{
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
}
@keyframes warp1 {
    0%{
        opacity: 0;
        transform: skewX(60deg);
        color: blue;
    }100%{
        opacity: 1;
        transform: skewX(0deg);
    }
}
@-webkit-keyframes warp1 {
    0%{
        opacity: 0;
        transform: skewX(60deg);
        color: blue;
    }100%{
        opacity: 1;
        transform: skewX(0deg);
    }
}
@-moz-keyframes warp1 {
    0%{
        opacity: 0;
        transform: skewX(60deg);
        color: blue;
    }100%{
        opacity: 1;
        transform: skewX(0deg);
    }
}
@keyframes warp2 {
    0%{
        opacity: 0;
        transform: skewX(60deg);
        color: maroon;
    }100%{
        opacity: 1;
        transform: skewX(0deg);
    }
}
@-webkit-keyframes warp2 {
    0%{
        opacity: 0;
        transform: skewX(60deg);
        color: maroon;
    }100%{
        opacity: 1;
        transform: skewX(0deg);
    }
}
@-moz-keyframes warp2 {
    0%{
        opacity: 0;
        transform: skewX(60deg);
        color: maroon;
    }100%{
        opacity: 1;
        transform: skewX(0deg);
    }
}

@media only screen and (min-width: 800px){
    h1.low{
        left: 37vw;
        color: #fae4e6;
        animation: warp2 1 .6s linear forwards;
        -webkit-animation: warp2 1 .6s linear forwards;
        -moz-animation: warp2 1 .6s linear forwards;
    }
    h1.high{
        left: 0vw;
    }
    
    main{
        padding-left: 10vw;
        width: 70vw;
    }
    main img{
        max-width: 22vw;
        padding: .1vw;
    }
    nav{
        left: 80vw;
        top: 100px;
    }
    nav ul{
        padding: 0;
    }
    nav ul li{
        margin: 0 0 2vh 0;
        width: 15vw;
        background-color: transparent;
        background: none;
        font-size: 1em;
        border: #fae4e6 solid 1px;
    }
    nav ul li.active{
        background: none;
        background-color: rgba(0,0,0,.2);
        color: inherit;
        width: 15vw;
    }
    nav ul li:hover{
        background-color: #fae4e6;
        color: #1b2237;
        animation: glitchBtn .2s  0s forwards steps(1);
        -webkit-animation: glitchBtn .2s  0s forwards steps(1);
        -moz-animation: glitchBtn .2s  0s forwards steps(1);
    }
}