/*
Quasi skateboards redesign
Author: Riley Hoff
*/
html{
    background: url(img/bg.jpg) no-repeat center right fixed; 
    background-color: #fae4e6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-right: 60px;
}
body{
    font-family: 'Kanit', sans-serif;
    color: #fae4e6;
}
header{
    margin-top: 0vh;
}
h1{
    text-align: right;
    margin: 0vh 2vw 0 0;
    font-weight: 900;
    font-size: 50pt;
    letter-spacing: .5vw;
    color: #fae4e6;
    animation: glitch 10s  .5s infinite steps(1);
    -webkit-animation: glitch 10s  .5s infinite steps(1);
    -moz-animation: glitch 10s  .5s infinite steps(1);
}
h2{
    text-align: right;
    font-weight: 400;
    letter-spacing: 1vw;
    position: relative;
    padding-right: 2px;
    top: -25px;
    left: -2vw;
    margin: 0;
    font-size: 10pt;
    animation: glitch 10s  .5s infinite steps(1);
    -webkit-animation: glitch 10s  .5s infinite steps(1);
    -moz-animation: glitch 10s  .5s infinite steps(1);
}
a{
    color: inherit;
    text-decoration: none;
}
nav{
    position: fixed;
    top: 20vh;
    left: 2vw;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav li {
    float: left;
    text-align: center;
    line-height: 30vh;
    width: 40vw;
    height: 30vh;
    border: #fae4e6 solid 1px;
    margin: 2vh 4vw;
    font-size: 14pt;
}
nav li:hover{
    background-color: #fae4e6;
    color: #1b2237;
    animation: glitchBtn .2s  0s forwards steps(1);
    -webkit-animation: glitchBtn .2s  0s forwards steps(1);
    -moz-animation: glitchBtn .2s  0s forwards steps(1);
}

/* animation */

@keyframes glitch{
    0%{
        color: cornflowerblue;
        transform: translateX(2px);
        transform: skewX(20deg);
    }.5%{
        color: darkorchid;
        transform: translateX(-4px);
    }1%{
        color: green;
        transform: translateX(-5px);
        transform: skewX(20deg);
    }1.5%{
        color: darkred;
        transform: translateX(6px);
    }2%{    
        color: #fae4e6;
        transform: translateX(1px);
    }
}

@-webkit-keyframes glitch{
    0%{
        color: cornflowerblue;
        transform: translateX(2px);
        transform: skewX(20deg);
    }.5%{
        color: darkorchid;
        transform: translateX(-4px);
    }1%{
        color: green;
        transform: translateX(-5px);
        transform: skewX(20deg);
    }1.5%{
        color: darkred;
        transform: translateX(6px);
    }2%{    
        color: #fae4e6;
        transform: translateX(1px);
    }
}

@-moz-keyframes glitch{
    0%{
        color: cornflowerblue;
        transform: translateX(2px);
        transform: skewX(20deg);
    }.5%{
        color: darkorchid;
        transform: translateX(-4px);
    }1%{
        color: green;
        transform: translateX(-5px);
        transform: skewX(20deg);
    }1.5%{
        color: darkred;
        transform: translateX(6px);
    }2%{    
        color: #fae4e6;
        transform: translateX(1px);
    }
}

@keyframes glitchBtn {
        0%{
            background-color: transparent;
            color: cornflowerblue;
            transform: translateX(2px);
            transform: skewX(20deg);
        }25%{
            color: darkorchid;
            transform: translateX(-4px);
        }50%{
            color: green;
            transform: translateX(-5px);
            transform: skewX(20deg);
        }75%{
            color: darkred;
            transform: translateX(6px);
        }100%{   
            color: #1b2237;   
            background-color: #fae4e6;
            transform: translateX(1px);
        }
}

@-webkit-keyframes glitchBtn {
    0%{
        background-color: transparent;
        color: cornflowerblue;
        transform: translateX(2px);
        transform: skewX(20deg);
    }25%{
        color: darkorchid;
        transform: translateX(-4px);
    }50%{
        color: green;
        transform: translateX(-5px);
        transform: skewX(20deg);
    }75%{
        color: darkred;
        transform: translateX(6px);
    }100%{   
        color: #1b2237;   
        background-color: #fae4e6;
        transform: translateX(1px);
    }
}
@-moz-keyframes glitchBtn {
        0%{
            background-color: transparent;
            color: cornflowerblue;
            transform: translateX(2px);
            transform: skewX(20deg);
        }25%{
            color: darkorchid;
            transform: translateX(-4px);
        }50%{
            color: green;
            transform: translateX(-5px);
            transform: skewX(20deg);
        }75%{
            color: darkred;
            transform: translateX(6px);
        }100%{   
            color: #1b2237;   
            background-color: #fae4e6;
            transform: translateX(1px);
        }
}

@media only screen and (min-width: 800px){
    html{   
    background: url(img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    header{
        margin-top: 30vh;
    }
    h1{
        margin: 0vh 5vw 0 0;
        font-size: 17vw;
    }
    h2{
        top: -6vw;
        left: -5vw;
        font-size: 2vw;
    }
    nav{
        top: 10vh;
        left: 20vh;
    }
    nav ul{
        padding-left: 40px;
    }
    nav li{
        float: none;
        line-height: 50px;
        width: 150px;
        height: 50px;
        margin: 0 0 10vh 0;
        font-size: 1em;
    }
}